<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	<% data.forEach((data) =>{ %>
	
		<p><a href=""></a></p>
		<p><%= data.id %></p>
		<p><%= data.title %></p>
		<p><%= data.date %></p>
	<% }) %>

</body>
</html>