<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<br>
<div align="center" class="text">
  This is your personal last try to be something like human with brain. Sorry.
</div>
<br>
<body class="body">
  <div align="center" class="container">
    <form method="post" action="/new">
    <div class="taskinput" >
      <input type="" id="title" name="" placeholder="Title of yoour task">  
      <br>
      <br>
      <textarea>         
      </textarea>
      <br>
      <button id="chooseFile" class="btn">Choose file</button>
    </div>
    <div>
      <br>
      <input type="date" name="date" id="date" class="dateinput"> 
      <br>
     </div>
     <br>
    <button class="btn" type="submit">
      Add task
    </button>
    <button class="btn">
      All tasks
    </button>
   
  </div>
 </form>
</body>
<html>