.text {
	color: blue;
	font: 32px "Bradley Hand", cursive;	
}
.taskblock {
	margin: 5;
	padding: 10;
}

.btn {
	margin: 5;
	padding: 10;
}
body, html { 
	width: 100%; 
	height: 100%;
}

div { 
	margin: 5;
	padding: 10;	
	position: relative; 
}


.body {
	align-content: center;
}

.container {
	width: 100%;
	height: 100%;
}

.input {
	width: 
}